# Environment variables
.env
server/.env

# Node modules
node_modules/
server/node_modules/

# History and saved changes
.history 
saved_changes

# Build outputs
# _site/
# dist/
# build/

# Netlify
.netlify

# Vercel
.vercel

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
devdocs.md



# New !
insightroom/*
analytics-api/*
_site/
_drafts/*
.private
blog-svelte/*
community-api/*
pdfs/*
.gemini/