<div class="container">
    <nav class="navbar">
        <div class="navbar-top-group">
            <a href="#" class="tab-link active" data-tab="home">
                <i class="fas fa-home"></i>
            </a>
            <a href="#2" class="tab-link" data-tab="chat">
                <i class="fas fa-comments"></i>
            </a>
            <a href="#3" class="tab-link" data-tab="notifications">
                <i class="fas fa-bell"></i>
            </a>
        </div>
        <div class="navbar-bottom-group">
            <a href="#4" class="tab-link profile-icon" data-tab="settings">
                <i id="settings-icon" class="fas fa-cog"></i>
                <img id="profile-image" src="/assets/img/default-avatar.svg" style="display: none;">
            </a>
        </div>
    </nav>

    <div class="content">
        <div id="home" class="tab-content active">
            <div class="card-one" id="reading">
                <h2>What are you reading today?</h2>
                <form id="readingSelectionForm">
                    <div>
                        <label for="semesterSelect"></label>
                        <select id="semesterSelect">
                            <option value="">Select Semester</option>
                        </select>
                    </div>
                    <div>
                        <label for="subjectSelect"></label>
                        <select id="subjectSelect" disabled>
                            <option value="">Select Subject</option>
                        </select>
                    </div>
                    <div>
                        <label for="categorySelect"></label>
                        <select id="categorySelect" disabled>
                            <option value="">Select Category</option>
                        </select>
                    </div>
                    <div>
                        <label for="topicSelect"></label>
                        <select id="topicSelect" disabled>
                            <option value="">Select Topic</option>
                        </select>
                    </div>
                </form>

                <button id="submitButton">Submit</button>
            </div>


            <div id="popup">
                <div class="popup-controls">
                    <button id="fullscreenButton" style="margin-right: 40px; margin-top:5px;"><i
                            class="fas fa-expand"></i></button>
                    <button id="closePopup"><i class="fas fa-times"></i></button>
                </div>
                <div id="popupContent">
                    <!-- PDF iframe will be loaded here -->
                </div>
            </div>
        </div>

        <div id="chat" class="tab-content">
            <h1>
                Chat
                <i class="fas fa-info info-icon">
                    <span class="tooltip" style="font-weight: normal;">You can chat here by signing with github and
                        ask doubts or discuss topics, Formatting with Markdown is supported.</span>
                </i>
            </h1>
            <div id="giscus" data-repo="Materioa/Materio">
                <!-- The Giscus comment section will be loaded here -->
            </div>
            <script src="https://giscus.app/client.js" data-repo="Materioa/Materio" data-repo-id="R_kgDOK_VkLg"
                data-category="Chat" data-category-id="DIC_kwDOK_VkLs4CmdaW" data-mapping="title" data-strict="0"
                data-reactions-enabled="0" data-emit-metadata="0" data-input-position="top" data-theme="noborder_dark"
                data-lang="en" crossorigin="anonymous" async>
                </script>

        </div>

        <div id="notifications" class="tab-content">
            <h1>Notifications</h1>
            <div id="notificationBoard" style="color:#000000;">
                <!-- Notification cards will be dynamically added here -->
            </div>
        </div>
        <div id="settings" class="tab-content">
            <h1>Settings</h1>
            <div class="card-layout" id="versionInfo">
                <img src="https://materioa.netlify.app/static/res/v4_logo.png" height="150px" width="150px"
                    style="display: block; margin: 0 auto;">
            </div>
            <div class="card-layout" id="account">
                <div class="account-card">
                    <div class="account-info">
                        <img id="account-profile-image" src="/assets/img/default-avatar.svg" alt="Profile"
                            class="account-profile-pic">
                        <div class="account-details">
                            <p class="account-name" id="account-name">Log in to Materio Account</p>
                            <p class="account-username" id="account-username"></p>
                        </div>
                    </div>
                    <a href="/account" class="account-link">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>


            <div class="card-layout" id="themeCard">
                <div class="toggle-container">
                    <span>Enable Dark Mode</span>
                    <label class="switch">
                        <input type="checkbox" id="themeToggle">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
             
            <div class="card-layout" id="gh">
    <div class="toggle-container">
        <a href="https://github.com/Materioa/materio/issues/new?template=contribute.yml"
            class="contribute-button">
            <i class="fas fa-circle-plus" style="margin-right: 15px;"></i>
            <span>Contribute Materials</span>
            <i class="fas fa-chevron-right" style="position: absolute; right: 30px; margin-right: 0;"></i>
        </a>
    </div>
</div>
            <p>Version Details</p>
            <div class="card-layout" id="about">
                <p id="versionInfoText">Version: </p>
                <p id="buildInfoText">Build: </p>
                <details id="changeLogDetails">
                    <summary>Changelog</summary>
                    <div id="changeLogContent">
                        <!-- log will appear here -->
                    </div>
                </details>
            </div>
            <p>Legal</p>
            <div class="card-layout" id="notices">
                <p>
                    <i class="fas fa-circle-info"><span><a href="/whatisthis"
                                style="font-family:'Manrope', sans-serif; font-weight: normal;">About</a></span></i>
                    <i class="fas fa-chevron-right" style="float: right;margin-right: 20px;"></i>
                </p>
                <hr>
                <p>
                    <i class="fas fa-scroll"><span><a href="/license"
                                style="font-family:'Manrope', sans-serif; font-weight: normal;">License</a></span></i>
                    <i class="fas fa-chevron-right" style="float: right;margin-right: 20px;"></i>
                </p>
                <hr>
                <p>
                    <i class="fas fa-file-contract"><span><a href="/privacy"
                                style="font-family:'Manrope', sans-serif; font-weight: normal;">Privacy
                                Policy</a></span></i>
                    <i class="fas fa-chevron-right" style="float: right;margin-right: 20px;"></i>
                </p>
                <hr>
                <p>
                    <i class="fas fa-cookie"><span><a href="/cookies"
                                style="font-family:'Manrope', sans-serif; font-weight: normal;">Cookie
                                Policy</a></span></i>
                    <i class="fas fa-chevron-right" style="float: right;margin-right: 20px;"></i>
                </p>
                <hr>
                <p>
                    <i class="fab fa-github"><span><a href="https://github.com/Jinansh230705"
                                style="font-family:'Manrope', sans-serif; font-weight: normal;">Developer's
                                Github</a></span></i>
                    <i class="fas fa-chevron-right" style="float: right;margin-right: 20px;"></i>
                </p>
            </div>

            <p>Advanced</p>
            <div class="card-layout" id="bgToggleCard">
                <div class="toggle-container">
                    <span>Disable Background Image</span>
                    <label class="switch">
                        <input type="checkbox" id="disableBgToggle">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

            <div class="card-layout" id="cookiesToggleCard">
                <div class="toggle-container">
                    <span>Accept Cookies</span>
                    <label class="switch">
                        <input type="checkbox" id="optOutCookiesToggle">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

          
            <div class="card-layout" id="creatorInfo">
                <p>&copy; Materio</p>
                <p> Made with ❤️ by Jinansh </p>
            </div>
        </div>