 /* Default Thermal Theme */
 title {

    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sauce One Regular";
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
}

header {
    font-family: "ApexNew-Medium";
    background: linear-gradient(to right, rgba(200, 109, 109, 0.65), rgba(255, 238, 142, 0.65), rgba(109, 181, 200, 0.65));
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}


header h1 {
    margin: 0;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* nav a:hover {
    background-color: #555;
} */

.content {
    padding: 20px;
    margin-left: 135px;
}


section {
    max-width: 1000px;
    margin: 1em auto;
    padding: 1em;
    background-color: rgba(228, 220, 174, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

@media (max-width: 768px) {
    #resourceForm select {
    width: 100%;
}
    .content {
        padding: 10px;
        margin-left: 0px;
        /* text-align: center; */
    }

    h1 {
        text-align: center;
    }

    section {
        margin: 1em auto;
        padding: 1em;
        max-width: 85%;
        border-radius: 10px;
        box-shadow: none;
    }

    setting-dialog {
        padding: 0px;
        width: 120%;
        position: absolute;

        
    }
}

setting-dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    padding: 50px;
    box-sizing: border-box;

    background: rgba(228, 220, 174);
    padding: 20px;
    border-radius: 10px;
    font-family: 'Open Sauce One Regular', sans-serif;
    position: relative;
}

notification-dialog {
    background-color: rgba(228, 220, 174);
    border-radius: 10px;
}

.viewer {
    height: 600px;
}

.rounded-rectangle {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFE1CF;
    border-radius: 15px;
}

.right-align {
    float: right;
    width: 33%;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

#resourceForm select,
#resourceForm button {
    flex-basis: 30%;
    padding: 13px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-family: 'Apex New', sans-serif;
    background-color: rgba(255, 238, 142, 0.65);
    margin: 5px;
}

#resourceForm select option {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#resourceForm button {
    background-color: #FF8B49;
    color: #ffffff;
    cursor: pointer;
}

#resourceForm button:hover {
    background-color: #444;
}

.navbar,
.footer {

    background: linear-gradient(to right, rgba(200, 109, 109, 0.65), rgba(255, 238, 142, 0.65), rgba(109, 181, 200, 0.65));
    color: #000000;
    padding: 10px;
}

.navbar a,
.footer a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
}

.footer {
    margin-top: 100px;
    text-align: center;
    height: auto;
}

.footer img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: #fbf1de;
}

.icons {
    display: flex;
    align-items: center;
    color: rgb(100, 100, 100);
}

.icons i {
    margin: 0 10px;
    cursor: pointer;
}

.dialog {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color:#000000;
}

.close {
    color: #FF8B49;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff3700;
    text-decoration: none;
    cursor: pointer;
}
/* Notification board styles */
.notification-board {
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse; /* To show latest on top */
    margin-top: 20px;
    color: #000000;
}

.notification {
    background-color: rgb(255, 247, 205);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    color:#000000;
    border-left: 5px solid #BB5031;
}

.notification h3 {
    margin: 0;
    font-size: 1rem;
    color: #000000;
}

.notification p {
    margin: 5px 0 0;
    color: #000000;
    font-size: 0.9rem;
}
.notification .date-time {
    font-size: 0.8rem;
    color: #434343;
    margin-top: 5px;
}

.notification-item {
color: black;
/* Other styles for the notification item */
}



/* Expresso Theme */
body.expresso {
    background-color: #332F28;
    color: #E4DCAE;
}

body.expresso .notification p{
    color: #000000;
}

body.expresso header {
    background: rgba(241, 230, 184, 0.6);
    color: #000000;
}

body.expresso nav a {
    color: #000000;
}

body.expresso section {
    background-color: rgba(228, 220, 174, 0.5);
    color: #FBF1DE;
}

body.expresso .rounded-rectangle {
    background-color: rgba(255, 225, 207, 0.5);
    color: #000000;
}

body.expresso h2 {
    color: #333;
}

body.expresso p {
    color: #FBF1DE;
}

body.expresso #resourceForm select,
body.expresso #resourceForm button {
    font-family: 'Open Sauce One Regular', sans-serif;
    background-color: rgba(213, 188, 154, 1);
}

body.expresso #resourceForm button {
    background-color: #BB5031;
    color: #ffffff;
}

body.expresso #resourceForm button:hover {
    background-color: #ff3700;
}

body.expresso .navbar,
body.expresso .footer {
    background: rgba(241, 230, 184, 0.6);
    color: #000000;
}

body.expresso .navbar a,
body.expresso .footer a {
    color:#fbf1de;
}