<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D0B64NWXLD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D0B64NWXLD');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ 'https://materioa.netlify.app/static/assets/themestore.css' | relative_url }}">
    <link rel="icon" type="image/x-icon" href="https://materioa.netlify.app/static/res/favicon.ico">
    <link href="https://db.onlinewebfonts.com/c/cdf9e1a785f6767291f7e12174be6174?family=Open+Sauce+One+Regular"
        rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/66761cc137992e659f355bf50b1307cc?family=ApexNew-Medium"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
    <link rel="stylesheet" href="https://materioa.netlify.app/static/assets/themestore.css">
    <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
   
</head>

<body>
    
    {% include materio-header.html %}
    {{ content }}
    {% include materio-footer.html %}
    <script src="{{ 'https://materioa.netlify.app/static/assets/build_main.js' | relative_url }}"></script>
</body>

</html>